Repository lijw07/cams, changes with the owners that .github/CODEOWNERS names for each.
All owners: @your-username, @team-lead, @backend-team, @api-team, @architecture-team, @database-team, @devops-team, @frontend-team, @ui-team, @backend-lead, @documentation-team, @security-team, @qa-team, @frontend-lead

logging and publishing to db work in progress
  Backend/.dockerignore
  Backend/Constants/PerformanceThresholds.cs
  Backend/Controller/ApplicationController.cs
  Backend/Controller/CreateUserController.cs
  Backend/Controller/LogsController.cs
  Backend/Controller/RoleController.cs
  Backend/Controller/UsersController.cs
  Backend/Services/LoggingService.cs
  frontend/dist/assets/index-180dbc4b.js
  frontend/dist/assets/index-180dbc4b.js.map
  frontend/dist/assets/index-63252870.css
  frontend/dist/assets/index-b4ac15c0.css
  frontend/dist/assets/index-ea5b2d99.js
  frontend/dist/assets/index-ea5b2d99.js.map
  frontend/dist/index.html
  frontend/src/components/common/Button.tsx
  frontend/src/components/modals/ApplicationWithConnectionModal.tsx
  frontend/src/components/modals/DatabaseConnectionModal.tsx
  frontend/src/index.css
  frontend/src/services/applicationService.ts
  frontend/src/types/index.ts
Owners: @devops-team, @backend-team, @frontend-team, @ui-team

Delete CLAUDE.md
  CLAUDE.md
Owners: @documentation-team, @team-lead

Revert "Delete CLAUDE.md"
  CLAUDE.md
Owners: @documentation-team, @team-lead

Update .gitignore
  .gitignore
Owners: @devops-team

rebase
  frontend/dist/assets/index-63252870.css
  frontend/dist/assets/index-ea5b2d99.js
  frontend/dist/assets/index-ea5b2d99.js.map
  frontend/dist/index.html
Owners: @ui-team, @frontend-team

Update .gitignore
  .gitignore
Owners: @devops-team

ignored /frontend/dist/
  .gitignore
Owners: @devops-team

Update package-lock.json
  frontend/package-lock.json
Owners: @frontend-lead, @devops-team

addeed
  frontend/.eslintrc.json
  frontend/dist/index.html
  frontend/src/App.tsx
  frontend/src/components/common/Pagination.tsx
  frontend/src/components/forms/CloudConnectionForm.tsx
  frontend/src/components/migration/DataInput.tsx
  frontend/src/components/modals/ApplicationModal.tsx
  frontend/src/components/modals/ApplicationWithConnectionModalNew.tsx
  frontend/src/components/settings/ConnectionTestScheduling.tsx
  frontend/src/components/user/EditUserForm.tsx
  frontend/src/hooks/useApplicationModal.ts
  frontend/src/hooks/useApplicationWithConnection.ts
  frontend/src/hooks/useAuditLogs.ts
  frontend/src/hooks/usePasswordChange.ts
  frontend/src/hooks/usePerformanceLogs.ts
  frontend/src/hooks/useProfile.ts
  frontend/src/hooks/useRoleManagement.ts
  frontend/src/hooks/useSecurityLogs.ts
  frontend/src/hooks/useSystemLogs.ts
Owners: @backend-team, @devops-team, @frontend-team

added in a new .net build
  Cams.Tests/Builders/ApplicationBuilder.cs
  Cams.Tests/Builders/DatabaseConnectionBuilder.cs
  Cams.Tests/Builders/RoleBuilder.cs
  Cams.Tests/Builders/UserBuilder.cs
  Cams.Tests/Controllers/DatabaseConnectionControllerTests.cs
  Cams.Tests/Services/UserServiceTests.cs
  global.json
Owners: @backend-team, @qa-team, @backend-lead, @devops-team

added some tests and fixed fe hash bug
  Backend/Dockerfile
  Cams.Tests/Cams.Tests/Cams.Tests.csproj
  Cams.Tests/Controllers/LogsControllerTests.cs
  Cams.Tests/Controllers/MigrationControllerTests.cs
  Cams.Tests/Controllers/RoleControllerTests.cs
  Cams.Tests/Controllers/UsersControllerTests.cs
  Program.cs
  frontend/.env.example
  frontend/Dockerfile
  frontend/src/services/apiService.ts
  frontend/src/services/authService.ts
  frontend/src/utils/retryHelper.ts
Owners: @devops-team, @backend-team, @qa-team, @security-team, @frontend-team

Update release.yml
  .github/workflows/release.yml
Owners: @devops-team

added fixes
  cams.csproj
  frontend/src/App.tsx
  frontend/src/pages/Applications.tsx
  global.json
Owners: @backend-team, @devops-team, @frontend-team, @backend-lead

added fixes
  global.json
Owners: @backend-lead, @devops-team

Potential fix for code scanning alert no. 15: Resource injection
  Backend/Services/DatabaseConnectionService.cs
Owners: @backend-team

added workflow fix
  .github/workflows/backend-ci.yml
  .github/workflows/ci.yml
  .github/workflows/dotnet-desktop.yml
  Cams.Tests/Controllers/RoleControllerTests.cs
Owners: @devops-team, @backend-team, @qa-team

fixed merge marker
  frontend/src/pages/Applications.tsx
Owners: @frontend-team

working on workflow fixes
  .github/workflows/backend-ci.yml
  .github/workflows/ci.yml
Owners: @devops-team

Create package-lock.json
  frontend/package-lock.json
Owners: @frontend-lead, @devops-team

workflow fix in progress
  Backend/Services/DatabaseConnectionService.cs
  frontend/.eslintrc.json
  frontend/src/components/contact/ContactHeader.tsx
  frontend/src/constants/AnalyticsConstants.ts
  frontend/src/hooks/queries/useApplicationsQuery.ts
  frontend/src/hooks/queries/useLogsQuery.ts
  frontend/src/hooks/queries/useUsersQuery.ts
  frontend/src/hooks/useUserManagementRefactored.ts
  frontend/src/main.tsx
  frontend/src/pages/AboutUs.tsx
  frontend/src/pages/Applications.tsx
  frontend/src/pages/ConnectionDetail.tsx
  frontend/src/pages/CreateConnection.tsx
  frontend/src/pages/DatabaseConnections.tsx
  frontend/src/pages/Documentation.tsx
  frontend/src/pages/Features.tsx
  frontend/src/pages/Integrations.tsx
  frontend/src/pages/Pricing.tsx
  frontend/src/pages/auth/Login.tsx
  frontend/src/services/api.ts
Owners: @backend-team, @devops-team, @frontend-team

.github/CODEOWNERS:

# This file defines code ownership for automatic review requests
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners (backup reviewers for all files)
* @your-username @team-lead

# Backend/.NET code
/Backend/ @backend-team @your-username
/Backend/Controllers/ @api-team @backend-team
/Backend/Services/ @backend-team @architecture-team
/Backend/Data/ @database-team @backend-team
/Backend/Configuration/ @devops-team @backend-team
*.cs @backend-team
*.csproj @backend-team @devops-team

# Frontend/React code
/frontend/ @frontend-team
/frontend/src/components/ @frontend-team @ui-team
/frontend/src/services/ @frontend-team @api-team
/frontend/src/styles/ @ui-team
*.tsx @frontend-team
*.ts @frontend-team
*.css @ui-team
*.scss @ui-team

# Database and migrations
/Backend/Migrations/ @database-team @backend-lead
*.sql @database-team

# Docker and infrastructure
Dockerfile* @devops-team
docker-compose*.yml @devops-team
.dockerignore @devops-team

# CI/CD and GitHub configurations
/.github/ @devops-team @team-lead
/.github/workflows/ @devops-team @team-lead
/.github/CODEOWNERS @team-lead

# Documentation
*.md @documentation-team @team-lead
/docs/ @documentation-team

# Security-sensitive files
/Backend/Services/AuthenticationService.cs @security-team @backend-lead
/Backend/Configuration/JwtSettings.cs @security-team @backend-lead
/Backend/Controllers/LoginController.cs @security-team @api-team
.env* @security-team @devops-team

# Configuration files
*.json @backend-team @devops-team
*.yml @devops-team
*.yaml @devops-team
.gitignore @devops-team
.editorconfig @team-lead

# Test files
*Tests.cs @backend-team @qa-team
*Test.cs @backend-team @qa-team
/Backend.Tests/ @backend-team @qa-team
/frontend/src/__tests__/ @frontend-team @qa-team
*.test.tsx @frontend-team @qa-team
*.test.ts @frontend-team @qa-team

# Build and project files
*.sln @backend-lead @architecture-team
global.json @backend-lead @devops-team
Directory.Build.props @backend-lead @devops-team
nuget.config @backend-lead @devops-team
package.json @frontend-lead @devops-team
package-lock.json @frontend-lead @devops-team
